.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.packages .box-container .box{
border: var(--border);
border-width: .1rem;
box-shadow: var(--box-shadow);
background: var(--white);
}

 
.packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
 .packages .box-container .box:hover .image img{
        transform: scaleX(1.1);

    }
.packages .box-container .box .content{
padding: 2rem;
text-align: center;

}
.packages .box-container .box .content h3{
   font-size: 2.5rem;
color:var(--black);
}
.packages .box-container .box .content p{
    font-size: 1.2rem;
 color:var(--light-black);
 line-height: 2;
 padding: 1rem 0;
 }

.packages .load-more{
    text-align: center;
    margin-top: 2rem;
line-height: 8;
}








.packages{
    background: var(--light-bg);
 }
 
 
 
 
 
 .btn{
    display: inline;
    background: var(--black);
     margin-top: 1rem;
     color: var(--white);
     font-size: 1.3rem;
     padding: 1rem 2rem;
     cursor: pointer;
    }
    .btn:hover{
     background: var(--main-color);
    }